header,nav,section,aside,footer {
    background-color: #ebebeb;
    text-align: center;
    padding: 20px;
    margin: 10px;
    border-radius: 25px;
    border-style: outset;
    
}

section { 
    float: left;
    width: 60%;
}

aside {
    float: left;
    width: 32%;
    height: 66%;
}

article {
    padding: 30px;
    padding-top: 0px;
    padding-bottom: 10px; 
    text-align: left;
}


footer{
    clear: both;
    margin: 10px;
}

